            <nav class="nav location-{{ include.location }}">
                <ul>
                    {% assign navigation_pages = site.pages | sort:"order" %}

                    {% for page in navigation_pages %}   
                      {% if page.title %}
                      <li class="page-title-{{ page.title | slugify }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>

                {% if include.location == 'header' %}
                 tuka moga da dobavq neshto conkretno samo vav header 
                {% endif %}

            </nav>
