<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/fontawesome/css/all.css">
        <link rel="stylesheet" href="/css/site.css">   
        <title>{{ site.title }}</title>
    </head>
    <body>

        <div class="site">

            <header class="site-header">

                <div class="site-branding">
                    <h1><a href="/">{{ site.title }}</a></h1>
                    <p>{{ site.description }}</p>
                </div>


            <nav class="nav">
                <ul>
                    {% for page in site.pages %}   
                      {% if page.title %}
                      <li class="page-title-{{ page.title | slugify }}"><a href="{{ page.url }}">{{ page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <main class="site-main">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </main>

        <footer class="site-footer">

            <p>{{ site.title }} &copy; All rights reserved!</p>

        </footer>

    </div>

        

</body>
</html>


