<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{ site.title }}</title>
</head>
<body>
    
    <div class="site">
        <header class="site-header">
            <h1><a href="/">{{ site.title }}</a></h1>
            <p>{{ site.description }}</p>

            <nav>
                <ul>
                    {% for page in site.pages %}   
                      {% if page.title %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
    </div>

        {{ content }}

</body>
</html>


